# Временные файлы редактора
.*.sw?
*.swp
*~
*.save
*.bak

# Исполняемые файлы
progl
process
prog1
hello
*.exe
*.out

# Объектные файлы
*.o
*.ko

# Файлы данных
output.txt
*.txt

# Резервные копии
*.backup
